/* центровщик контента */

.container(@width) {
  width: @width;
  margin-left: auto;
  margin-right: auto;
}

/* кастомный фокус */

.focusCustom(@color) {
  outline: 2px solid @color;
}

/* параметры текста для mobile */

.fontTitleMobile() {
  font-size: 32px;
  line-height: 1.2;
}

.fontTextMobile() {
  font-size: 18px;
  line-height: 1.4;
}

.fontSmallMobile() {
  font-size: 14px;
  line-height: 1.4;
}
