/* переменные css */

:root {

  /* переменные цвета */

}

/* переменные less */

/* переменные вьюпорта */

@tabletWidth: 461px;

/* переменные плотности экрана */

@retinaDppx2x: 1.5dppx;
@retinaDpi2x: 144dpi;

@retinaDppx3x: 2.4dppx;
@retinaDpi3x: 220dpi;
